<!--title,date,content-->


<div data-role="collapsible-set">
    {{#each .}}
        <div data-role="collapsible" >
            <h3> {{{ title }}} ({{{ newsdate }}})</h3>
            <p>{{{ content }}}</p>
        </div>
    {{/each}}

</div>