<div id="setoptions">
    <h2>Set options</h2>

    <div data-role="rangeslider">
        <label for="liveDataCacheTime">Live Data Cache Time (seconds)</label>
        <input name="liveDataCacheTime" data-multiplier=1 id="liveDataCacheTime" min="60" max="1200" step="30" value="60" type="range"/>
    </div>
    <div data-role="rangeslider">
        <label for="fullStatsCacheTime">Project100Million Stats Cache Time (seconds)</label>
        <input name="fullStatsCacheTime" data-multiplier=1  id="fullStatsCacheTime" min="60" max="1200" step="30" value="90" type="range"/>
    </div>
    <div data-role="rangeslider">
        <label for="prayerTestimoniesCacheTime">Prayer Request and Testimonies Cache Time (hours)</label>
        <input name="prayerTestimoniesCacheTime" data-multiplier=3600  id="prayerTestimoniesCacheTime" min="5" max="168" step="5" value="72" type="range"/>
    </div>
    <!--<div data-role="rangeslider">-->
        <!--<label for="liveDataCacheTime">Live Data Cache Time</label>-->
        <!--<input name="liveDataCacheTime" id="liveDataCacheTime" min="60" max="1200" step="30" value="60" type="range"/>-->
    <!--</div>-->
</div>