<h1>Recent Evangelism Responses</h1>

<ul class="response-list">
    {{#each .}}
        <li>{{ flagIconLink country~}}&nbsp;From <strong>{{ country~}}</strong>&nbsp;on  {{ visitdate }}</li>
    {{/each}}
</ul>