<!--title,date,content-->


<div data-role="collapsible-set">
    {{#each .}}
        <div data-role="collapsible" data-collapsed="false">
            <h3> {{ title }} (date) }}</h3>
            <p>{{ content }}</p>
        </div>


    {{/each}}

</div>