<h1>Recent Responses</h1>

<ul>
    {{#each .}}
        <li>{{ flagIconLink country~}}&nbsp;From <strong>{{ country~}}</strong>{{ flagIconLink country }}&nbsp;on  {{ visitdate }}</li>
    {{/each}}
</ul>