
<div id="hometotalsarea">
    <div class="datagrid">
        <table>
            <thead>
            <tr>
                <th colspan="2" align="center">Targeting 100 Million</th>
            </tr >
            </thead>
            <tbody>
            <tr>
                <td >Site Visitors</td>
                <td align="right">{{ formatCurrency visits }}</td>
            </tr>
            <tr>
                <td >Evangelism Responses</td>
                <td align="right">{{ formatCurrency responses }}</td>
            </tr>
            <tr>
                <td >Discipleship Connections</td>
                <td align="right">{{ formatCurrency inquirers }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <p class="home-time">As of {{mediumDate time }}</p>
</div>

