<h1>Prayer Needs</h1>
<div data-role="collapsible-set">
    {{#each .}}
    <div data-role="collapsible" data-collapsed="false">
            <h3>
                A {{ genderToPerson gender }} from {{ userlocation~}} shared a prayer request
                on  {{ shortenedDate datesubmitted }}
            </h3>
            <p>
                {{ comments }}
            </p>
       </div>
    {{/each}}
</div>