<ul class="testimonies">
    {{#each .}}
        <li>
          A {{ genderToPerson gender }} from {{ userlocation~}} shared a testimony on  {{ shortenedDate datesubmitted }}
        </li>
    {{/each}}

</ul>